body {
    overflow: hidden;
} 
/* Despues le digo que es esto de arriba */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    z-index: 100;
}
.head-list{

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    
    text-align: center;
    list-style-type: none;
    padding: 20px;
    margin: 4px;
}
.head-list li{
    padding: 6px;
    margin: 4px;
    text-decoration: none;
    display: inline;
}
.head-list li a{
    text-decoration: none;

}

video {
    height: 100%;
    width: 100%;
}