body {
    overflow: hidden;
    background-color: BLACK;
    color: white;
}
h1{
    
    font-family: Cambrial;
    margin-top: 2em;
    font-size: 8em;
    text-align: center;
    background-image:url(images/Dinosaurios-en-el-Mundial.jpg);
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    background-clip: text;
}
